@font-face {
  font-family: "iconfont"; /* Project id 4563749 */
  src: url('//at.alicdn.com/t/c/font_4563749_hzgzy7se1lu.woff2?t=1716814619178') format('woff2'),
       url('//at.alicdn.com/t/c/font_4563749_hzgzy7se1lu.woff?t=1716814619178') format('woff'),
       url('//at.alicdn.com/t/c/font_4563749_hzgzy7se1lu.ttf?t=1716814619178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-csdn48:before {
  content: "\e600";
}

.icon-logo:before {
  content: "\e601";
}

.icon-notion:before {
  content: "\e636";
}

.icon-douyin:before {
  content: "\e602";
}

.icon-mubu:before {
  content: "\e609";
}
